/build
/src/main/java/mx/utng/kapm/smarthealthmonitor/data
/src/main/res/drawable/ic_launcher_background.xml
/src/main/res/drawable/ic_launcher_foreground.xml
/src/main/res/values/ic_launcher_background.xml
